.about{
    .collapse__about{
        width: 100%;
        max-width: 80%;      
        margin: 0 auto;         
        display: flex;
        flex-direction: column;           
        padding: 0 100px 50px 100px; 
        align-items: stretch;
                
    }
    
}
@media (max-width: 1024px) {
  .about {
    .collapse__about {
      padding: 0 40px 40px 40px;
      max-width: 100%;
    }
  }
}


@media (max-width: 768px) {
  .about {
    
    .banner {
    height: 111px;
    border-radius: 10px;
  }
    .collapse__about {
      padding: 0 20px 30px 20px;
      gap: 20px;
      max-width: 100%;
    }
  }
}