.container_card {
  padding: 0 100px 100px 100px ;
  margin: 0 auto;
    .gallery{
        background-color: #f6f6f6;
        border-radius: 25px;
        padding: 50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
            .card{
                position: relative;
                width: 100%;
                height: 340px;
                border-radius: 10px;
                overflow: hidden;
                text-decoration: none;
                display: block;
                
                    .card_img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        display: block;
                        
                    }

                        .card__shadow {
                            position: absolute;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            height: 40%;               
                            background: linear-gradient(
                            to top,
                            rgba(0, 0, 0, 0.65),
                            rgba(0, 0, 0, 0)
                            );
                            pointer-events: none;
                        }

                        .card_title{
                            position: absolute;
                            left: 20px;
                            bottom: 20px;
                            margin: 0;
                            color: #ffffff;
                            font-size: 18px;
                            max-width: 50%;
                        }
            }
    }
}


@media (max-width: 1024px) {
  .container_card {
    padding: 0 40px 60px 40px;

    .gallery {
      padding: 30px;
      gap: 30px;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}


@media (max-width: 768px) {
  .container_card {
    padding: 0 20px 40px 20px;

    .gallery {
      background-color: transparent; 
      padding: 0;
      border-radius: 0;
      gap: 20px;
      grid-template-columns: 1fr;
      
            .card {
                height: 255px; 
            }
        
            .card_title {
            font-size: 16px;
            max-width: 80%;
            }
        }
    }
}
