.container_card {
  padding: 0 100px 10px 100px ;
  margin: 0 auto;
    .gallery{
        background-color: #f6f6f6;
        border-radius: 25px;
        padding: 50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
            .card{
                position: relative;
                height: 340px;
                border-radius: 10px;
                overflow: hidden;
                text-decoration: none;
                display: block;
                justify-items: center;
                align-items: center;
                
                    .card_img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        display: block;
                    }

                        .card_title{
                            position: absolute;
                            left: 20px;
                            bottom: 20px;
                            margin: 0;
                            color: #ffffff;
                            font-size: 18px;
                            max-width: 50%;
                        }
            }
    }
}