$maincolor : #FF6060;
$secondcolor : white;

.collapse{
        width: 100%;
        margin-bottom: 30px;
            .collapse__header{
                width: 100%;
                color: $secondcolor;
                background-color: $maincolor;
                border: none;
                border-radius: 5px;
                padding: 12px 15px;
                font-size: 24px;
                font-weight: 700;
                display: flex;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
                
                
                    
                .collapse__arrow {
                    transition: transform 0.3s ease;                   
                        }
                        .collapse__arrow svg {
                            height: 32px;
                            width: 32px;
                        }
                            .collapse__arrow--open{
                            transform: rotate(180deg);
                            }
                    }
                
                }
                    .collapse__content {
                        background-color: #f6f6f6;
                        text-decoration: none;
                        border-radius: 5px 5px 10px 10px;
                        padding: 20px;
                        font-size: 18px;
                        
                            ul {
                                list-style: none;
                                margin: 0;
                                padding: 0;
                                 li{
                                    margin-bottom: 2px;
                                 }
                            }

                    }
                
            