.container_banner{
    margin: 0 auto;
    padding: 0 100px 50px 100px ;

        .banner{
            height: 223px;
            border-radius: 25px;
            overflow: hidden;
            background-size: cover;
            background-position: center;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0 8px 15px -5px rgba(0, 0, 0, 0.3);      
        }

        .banner_title{
            color: white;
            font-size: 48px;
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
        }
}

@media (max-width: 1024px) {
  .container_banner {
    padding: 0 40px 35px 40px;

    .banner_title {
      font-size: 36px;
    }
  }
}


@media (max-width: 768px) {
  .container_banner {
    padding: 0 20px 20px 20px;

    .banner {
      height: 111px;       // ✅ plus petit
      border-radius: 10px; // ✅ plus mobile
      justify-content: flex-start;
      padding: 0 16px;
    }

    .banner_title {
      font-size: 24px;
      line-height: 1.1;
      text-align: left;
      max-width: 220px;    // ✅ force le retour à la ligne
    }
  }
}
