$maincolor : #FF6060;
.error404{
    min-height: calc(100vh - px); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    
    text-align: center;
    
        .error404__code{
            font-size: clamp(120px, 18vw, 288px);
            font-weight: 700;
            line-height: 1;
            color: $maincolor;
            margin: 0;        
        }
            .error404__text{
                font-size: clamp(18px, 3vw, 36px);
                font-weight: 500;
                color: $maincolor;
                margin: 0;
            }
                .error404__link{
                    font-size: 18px;
                    color: #000;
                    text-decoration: underline;
                    cursor: pointer;
                    padding: 15px;
                }


}