$maincolor : #FF6060;
.error404{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    
    text-align: center;
    
        .error404__code{
            font-size: clamp(120px, 18vw, 288px);
            font-weight: 700;
            line-height: 1;
            color: $maincolor;
            margin: 0;        
        }
            .error404__text{
                font-size: clamp(18px, 3vw, 36px);
                font-weight: 500;
                color: $maincolor;
                margin: 0;
            }
                .error404__link{
                    font-size: 18px;
                    color: #000;
                    text-decoration: underline;
                    cursor: pointer;
                    padding: 15px;
                    margin-bottom: 50px;
                }


}

@media (max-width: 1024px) {
  .error404 {
    gap: 60px;
    padding: 40px 40px;

    .error404__code {
      font-size: 200px;
    }

    .error404__text {
      font-size: 24px;
    }

    .error404__link {
      font-size: 16px;
    }
  }
}

@media (max-width: 768px) {
  .error404 {
    padding: 130px 20px;

    .error404__code {
      font-size: 96px;
      margin-bottom: 40px;
    }

    .error404__text {
      font-size: 18px;
      padding: 0 10px;
      
    }

    .error404__link {
      font-size: 14px;
      padding: 10px;
      margin: 20px 0 0 0;
    }
  }
}