.location {
    margin: 0 auto;
    padding: 0 100px 10px 100px ;
        .slider {
            position: relative;
            height: 415px;
            border-radius: 25px;
            overflow: hidden;
                .slider__img{
                    width: 100% ;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    display: block;
                    

            }
                .slider__btn{
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    border: none;
                    background-color: transparent;
                    font-size: 200px;
                    color: white;
                    cursor: pointer;
                    padding: 0 20px;
                    
                }
                .slider__btn--left{
                    left: 0;
                }
                .slider__btn--right{
                    right: 0;
                }
                .slider__count{
                    position: absolute;
                    left: 50%;
                    bottom: 20px;
                    transform: translateX(-50%);
                    color: white;
                    font-size: 50px;
                }
    }
}
