$maincolor : #FF6060;
$secondcolor : white;
$ratingcolor : #E3E3E3;
.location {
    margin: 0 auto;
    padding: 0 100px 10px 100px ;
    
        .location__header{
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            align-items: center;*
                .location__title{
                    font-weight: 500;
                    
                }
                .host {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    .host__name {
                        color: $maincolor;
                        text-align: right;
                        font-size: 18px;
                    }   

                    .host__picture {
                    width: 64px;
                    height: 64px;
                    border-radius: 50%;
                    object-fit: cover;
                    }
                }
                h1 {
                    color: $maincolor;
                }
            }
            .location__meta {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 20px;
                .tags {
                    display: flex;
                    gap: 10px;
                    flex-wrap: wrap;
                }
                .tag{
                    background-color: $maincolor;
                    border-radius: 10px;
                    color: $secondcolor;
                    padding: 4px 12px;
                    font-size: 14px;
                    font-weight: 700;
                }
                .rating{
                    display: flex;
                    gap: 5px;
                    
                    .star{
                        font-size: 24px;
                        color: $ratingcolor
                    }
                    .star--active {
                        color: $maincolor;
                    }
                }
            }
            .location__dropdowns {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 40px;
                margin-top: 30px;
                
                   
            }
}
