.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  45px 100px;
        .header_nav{
            display: flex;
            gap: 40px;
        }
            .header_link{
                display: inline-block;
                text-decoration: none;
                color: black;
                font-size: 20px;
                position: relative;

                    &::after{
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 0;
                        height: 2px;
                        background-color: #000;
                        
                    }
                        &:hover::after{
                            width: 100%;
                        }
            }
                
        
}      